<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="utf-8">
  <title>Cluster Manager </title>
    
</head>
<body ng-app="app" ng-controller="AppCtrl as app">

  <input type="text" ng-model="app.cluster.clusterName" />
  <input type="button" ng-click="app.addClusters(app.cluster)" value="Add Cluster" />
  <input type="button" ng-click="app.removeClusters(app.cluster)" value="Remove Clusters" />
  <input type="button" ng-click="app.listClusters()" value="List Clusters" />

  <ul>
    <li ng-repeat="item in app.clusters.listFields.clusters">
        {{item}}
    </li>
  </ul>

<script  src="js/angular.js"></script>
  <script src="js/app.js"></script>
  
</body>
</html>